/*Normal button*/
.normal-button {
    background-color: #1fc7d4;
    align-items: center;
    border: none;
    border-radius: 16px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.03em;
    box-shadow: #0e0e2c66 0px -1px 0px 0px inset;
}

.normal-button:hover {
    transition: 0.4s;
    opacity: 0.6;
    cursor: pointer;
}

/*Stroke button*/

.stroke-button{
    background-color: #0000;
    border: 2px solid #1fc7d4;
    align-items: center;
    border: none;
    border-radius: 16px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.03em;
    box-shadow: #0e0e2c66 0px -1px 0px 0px inset;
}




/*.checkbox {
    width: 52px;
    height: 32px;
    padding: 4px;

    display: flex;
    align-items: center;

    background-color: #49454f;

    border-radius: 24px;
    border: solid 2px #938f99;

    transition: border-color 200ms, background-color 200ms;

    cursor: pointer;
}

.checkbox::before {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;
    border-radius: 12px;

    background-color: #938f99;

    transition: width 200ms, height 200ms, transform 200ms, background-color 200ms;
}

.checkbox.on {
    border-color: #d0bcff;
    background-color: #d0bcff;
}

.checkbox.on::before {
    background-color: #381e72;
    width: 24px;
    height: 24px;
    transform: translateX(18px);
}