.card-body {
  padding: 24px;
  border: {
    width: 1px;
    color: rgb(231, 227, 235);
    style: solid;
    radius: 24px 24px 0 0;
  }
}

.card-footer {
  @extend .card-body;
  border: {
    radius: 0 0 24px 24px;
  }
}
