@import "reset.css";
@import "buttons.css";

/*Stile layout design system*/

body {
  background-color: #1fc7d4;
  font-family: "Kanit";
  padding: 10px;
}

h1 {
  margin-bottom: 10px;
}

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.logos,
.brand-colors,
.typography,
.buttons,
.icons,
.imgs,
.cards,
.animations {
  height: auto;
  width: 40%;
  background-color: #fff;
  border: 1px solid #000;
  margin: 15px;
  padding: 10px;
}

.buttons-styles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.button1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
