@use 'pancakeColors' as c;
@use 'pancakeFunctions' as f;
@use 'pancakeMixin' as m;
@use 'pancakeFonts' as k;

* {
    font-family: k.$fontFamily;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;

}



nav {
    width: 100vw;
    font-weight: 400;
    padding: 3px;
    position: relative;
    z-index: auto;
    padding-left: f.remConverter(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: f.remConverter(48px);
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(128, 128, 128, 0.349);
    overflow: hidden;

    .leftContainer {
        display: flex;

        div {
            width: 100%;
            padding: f.remConverter(10px);
            border-radius: 15px;

            .grey-hover:hover {
                background-color: #EFF4F5;
                transition: 120ms;
            }
        }

        .pancakeLogo {
            display: flex;
            list-style-type: none;
            align-items: center;
            margin-top: f.remConverter(5px);
        }
    }

    ul {

        display: flex;
        justify-content: space-between;
        list-style-type: none;
        position: relative;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        color: rgb(122, 110, 170);
        font-size: f.remConverter(16px);
        font-weight: 400;
        padding-left: f.remConverter(16px);
        padding-right: f.remConverter(16px);


        height: 48px;

        li {

            a {
                text-shadow: c.$mainPurple, f.remConverter(0.5px);
                text-decoration: none;
                margin: f.remConverter(10px);
                color: c.$mainPurple;
            }
        }
    }

    .rightContainer {
        display: flex;
        justify-content: space-between;

        //     .netButton {

        //         fill: red;
        //         transition-property: fill;
        //         transition-duration: 2s;

        //         .logoNet:hover {
        //             fill: #EFF4F5;
        //         }
        //     }
        // 
    }

    div {
        font-family: k.$fontFamily;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: f.remConverter(5px);
        cursor: pointer;

        .currentValue {
            color: c.$mainPurple;
            font-weight: 500;
        }
    }

    button {
        @include m.button;
        height: f.remConverter(32px);
        padding-left: f.remConverter(16px);
        padding-right: f.remConverter(16px);
        color: white;
    }


}

footer {
    width: 100vw;

    background-color: c.$mainBlack;

    .services {
        display: flex;
        justify-content: space-between;
        padding: 30px;




        ul {
            li:first-child {
                color: c.$mainPurple;
                font-weight: 600;
            }

            .gold {
                a {
                    color: gold;
                }
            }

            li {
                list-style-type: none;
                margin: 3px;

                a {

                    text-decoration: none;
                    color: white;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .partnerSvgIcons {
        padding-left: 33px;
        display: flex;
        align-items: flex-start;

        div {
            width: 30px;
        }
    }
}
