@use 'base' as b;

/*Mixin button*/

@mixin button {
    align-items: center; // alla scritta piazzandola al centro
    border: 0px; // di base non c'è bordo, verrà aggiunto 
    border-radius: b.remConverter(16px); // resta così per tutti, verrà visualizzato diversamente nella navbar per via dell'altezza del div padre
    box-shadow: $boxShadow; // leggero box-shadow a sud dell'asse y
    cursor: pointer; // simula il link
    display: inline-flex; // serve per gestire l'allineamento con le arrowsvg
    font-family: inherit; //ereditano kanit
    font-size: b.$font-size-button;
    font-weight: b.$fontHeavyWeight;
    justify-content: center; //portano al centro il testo rispetto all'asse x
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s; // con i valori impostati in precedenza ne gestiamo l'effetto di transizione di
    height: b.remConverter(48px);
    padding: 0px remConverter(24px);
    background-color: b.$primary;
    color: #ffffff;
    margin-right: b.remConverter(8px);
};

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Mixin toggle switch base*/

@mixin toggleSwitchBase {
    width: b.remConverter(56px);
    height: b.remcConverter(32px);
    display: flex;
    align-items: center;
    border-radius: b.remConverter(24px);
    box-shadow: b.$boxShadow;
    cursor: pointer;
    display: inline-flex;
    position: relative;
    transition: background-color 200ms ease 0s;
}

/*
-LIGHT MODE:
state: off --> background color: b.$light_input
state: on --> background color: b.$succes

-DARK MODE:
state: off --> background color: b.$dark_bgcolor_toggle
state: on --> background color: b.$success
*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Mixin toggle switch slider*/

/*state: OFF*/

@mixin toggleSwitchSlider {
    border-radius: 50%;
    cursor: pointer;
    height: b.remConverter(26px);
    width: b.remConverter(26px);
    position: absolute;
    left: b.remConverter(3px);
    top: b.remConverter(3px);
    transition: left 200ms ease-in 0s;
    z-index: 1;

    &:hover {
        box-shadow: b.$secondary 0px 0px 0px 1px, b.$secondary 0px 0px 0px 4px;
    }

}

/*state: ON 
    left: calc(100% - 30px)
*/

/*Background color:
Light mode: #FFFFFF;
Dark mode: #27262C

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.darkToggle {
    appearance: none;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
  }
  
  .darkToggle:checked {
    background: #333;
  }
  
  //classe che cambia effettivamente il background
  
  .dark {
    color: white;
    background: #444;
  }
  
  //STILE PER IL TOGGLE
  
  //transazione
  .ease {
    transition: all 300ms ease;
  }
  
  //classe che crea lo switcher
  .switch {
  
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
  }
  
  //classe che crea lo slider 
  .slider {
  
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #bdc2c4;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  
  }
  
  .switch input {
  
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  //classe con pseudo che trasla il toggle a sinistra e cambia l'immagine con url
  .slider:before {
  
    background-image: url("/./Assets/asset\ 63.svg");
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 2px;
    background-color: #ffffff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  
  }
  
  // mette il sole nero di sfondo nel toggle quando la pagina è in dark mode
  input:checked+.slider {
  
    background-image: url("/Assets/asset\ 63\ copy.svg"); //è una copia di un asset esistente, con apposite modifiche per questa situazione
    background-repeat: no-repeat;
    background-position: left;
    background-color: #666171;
  
  }
  
  
  
  // mette luna bianca di sfondo nel toggle quando la pagina è in dark mode
  input:not(:checked)+.slider {
  
    background-image: url("/Assets/asset\ 64\ copy.svg"); //è una copia di un asset esistente, con apposite modifiche per questa situazione
    background-repeat: no-repeat;
    background-position: right;
    background-color: #bdc2c4;
  }
  
  input:checked+.slider:before {
  
    background-color: #000000;
    background-image: url("/Assets/asset\ 64.svg");
    background-position: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  
  }
  //crea il leddino viola attorno al toggle checked:focus(sulla luna)
  input:focus:checked+.slider:before { 
      box-shadow: 0 0 2px 4px rgb(122, 110, 170);
  }
  //crea il leddino viola attorno al toggle checked:hover(sulla luna)
  input:hover:checked+.slider:before { 
      box-shadow: 0 0 2px 4px rgb(122, 110, 170); 
  }
  
  //crea il leddino viola attorno al toggle checked:hover(sul sole)
  input:hover:not(:checked)+.slider:before {
      box-shadow: 0 0 2px 4px rgb(122, 110, 170);  
  } 
  
  //crea il leddino viola attorno al toggle checked:focus(sul sole)
  input:focus:not(:checked)+.slider:before {
      box-shadow: 0 0 2px 4px rgb(122, 110, 170);  
  } 
  
  
  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 30px;
  }
  
  .slider.round:before {
  
    border-radius: 50%;
  }

  /* MODELLO HTML X IL TOGGLE LIGHT/DARK MODE

    <!--Qui ho importato delle classi da quello di Andrea label agganciato al darkToggle con una classe switch
            poi dentro un input type checkbox con id darkToggle e classe omonima lo span dentro al label slider 
            e round che rende lo span il toggle effettivo-->
        
            <label for="darkToggle" class="switch">
                <input type="checkbox" id="darkToggle" class="darkToggle">
                <span class="slider round"></span>
            </label>
          
          </main>
    
  */

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Card styling */

.top-cards-background {
    background: linear-gradient(rgb(255, 255, 255) 22%, rgb(215, 202, 236) 100%);
    padding: 48px 0px;
    display: flex;
    position: relative;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    z-index: 1;
  }
  
  .top-cards-container {
    display: flex;
    flex-direction: row;
  
    .outer-box {
      background: rgb(231, 227, 235);
      border-radius: 24px;
      color: rgb(40, 13, 95);
      overflow: hidden;
      position: relative;
      margin-right: 16px;
      margin-bottom: 0px;
      height: fit-content;
      padding: 1px 1px 4px;
      box-sizing: border-box;
  
      .inner-box {
        width: 100%;
        height: 100%;
        overflow: inherit;
        background: rgb(255, 255, 255);
        border-radius: 24px;
  
        .card-body {
          padding: 24px;
  
          .symbol-container {
            color: rgb(40, 13, 95);
            position: absolute;
            top: 24px;
            right: 24px;
  
            svg {
              width: 36px;
              align-self: center;
              fill: rgb(118, 69, 217);
              flex-shrink: 0;
              filter: none !important;
            }
          }
  
          .card-text {
            min-width: 232px;
            width: fit-content;
            min-height: 168px;
            margin-top: 64px;
            display: flex;
            flex-direction: column;
            -webkit-box-pack: end;
            justify-content: flex-end;
  
            & h2:first-of-type {
              font-weight: 600;
              line-height: 1.1;
              font-size: 40px;
            }
  
            & h2:last-of-type {
              color: rgb(118, 69, 217);
              margin-bottom: 24px;
              font-weight: 600;
              line-height: 1.1;
              font-size: 40px;
            }
  
            .card-footer {
              color: rgb(122, 110, 170);
              font-weight: 400;
              line-height: 1.5;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  
  .bottom-cards-section-background {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    -webkit-box-align: center;
    z-index: 1;
    background: linear-gradient(rgb(111, 182, 241) 0%, rgb(234, 242, 246) 100%);
    padding: 48px 0px;
  
    .bottom-cards-container {
      max-width: 600px;
      margin: 0px auto;
      display: flex;
      flex-direction: row;
  
      .yellow-card {
        max-width: 100%;
        margin-right: 24px;
        margin-bottom: 0px;
        display: flex;
        flex: 1 1 0%;
  
        .yellow-card-outer {
          background: rgb(255, 178, 55);
          border-radius: 24px;
          color: rgb(40, 13, 95);
          overflow: hidden;
          position: relative;
          height: fit-content;
          padding: 1px 1px 4px;
          transform: rotate(-2.36deg);
  
          .yellow-card-inner {
            color: rgb(40, 13, 95);
            overflow: initial;
            background: linear-gradient(
              rgb(255, 178, 55) 0%,
              rgb(255, 205, 81) 51.17%,
              rgb(255, 231, 106) 100%
            );
            border-radius: 24px;
  
            .yellow-card-body {
              color: rgb(40, 13, 95);
              padding: 24px;
            }
          }
        }
      }
  
      .purple-card {
        max-width: 100%;
        display: flex;
        flex: 1 1 0%;
  
        .purple-card-outer {
          background: rgb(60, 23, 134);
          border-radius: 24px;
          color: rgb(40, 13, 95);
          overflow: hidden;
          position: relative;
          height: fit-content;
          padding: 1px 1px 4px;
          transform: rotate(1.43deg);
  
          .purple-card-inner {
            color: rgb(40, 13, 95);
            width: 100%;
            height: 100%;
            overflow: initial;
            background: linear-gradient(
              rgb(118, 69, 217) 0%,
              rgb(81, 33, 177) 100%
            );
            border-radius: 24px;
  
            .purple-card-body {
              font-weight: 400;
              font-size: 16px;
              line-height: 1.5;
              color: white;
              padding: 24px;
            }
          }
        }
      }
    }
  }
  
  .default-card {
    background-color: rgb(255, 255, 255);
    border-radius: 32px;
    box-shadow: rgba(25, 19, 38, 0.1) 0px 2px 12px -8px,
      rgba(25, 19, 38, 0.05) 0px 1px 1px;
    color: rgb(69, 42, 122);
    overflow: hidden;
    position: relative;
  
    .card-body {
      padding: 24px;
    }
  
    .card-footer {
      padding: 24px;
      border-top: 1px solid rgb(233, 234, 235);
    }
  }
  