/* COLORS VARIABLES*/

/*-------baseColors-----------*/

$primary: #1FC7D4;
$primaryBright: #53DEE9;
$primaryDark: #0098A1;
$secondary: #7645D9;
$success: #31D0AA;
$warning: #FFB237;
$failure: #ED4B9E;

/*-------brandColors-----------*/

$binance: #F0B90B;


/*-------lightColors-----------*/

$light_background: #FAF9FA;
$light_backgroundDisabled: #E9EAEB;
$light_contrast: #191326;
$light_invertedContrast: #FFFFFF;
$light_input: #EEEAF4;
$light_inputSecondary: #D7CAEC;
$light_tertiary: #EFF4F5;
$light_text: #452A7A;
$light_textDisabled: #BDC2C4;
$light_textSubtle: #8F80BA;
$light_borderColor: #E9EAEB;
$light_card: #FFFFFF;
$light_gradientBubblegum: linear-gradient(139.73deg, #E6FDFF 0%, #F3EFFF 100%);


/*-------darkColors-----------*/

$dark_secondary: #9A6AFF;
$dark_background: #100C18;
$dark_backgroundDisabled: #3C3742;
$dark_contrast: #FFFFFF;
$dark_invertedContrast: #191326;
$dark_input: #483F5A;
$dark_inputSecondary: #66578D;
$dark_primaryDark: #0098A1;
$dark_tertiary: #353547;
$dark_text: #EAE2FC;
$dark_textDisabled: #666171;
$dark_textSubtle: #A28BD4;
$dark_borderColor: #524B63;
$dark_card: #27262C;
$dark_gradientBubblegum: linear-gradient(139.73deg, #313D5C 0%, #3D2A54 100%);


/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/*FONT*/

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300&display=swap");

$fontFamily: "Kanit";
$fontLightWeight : 400;
$fontHeavyWeight : 600;


/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/*SHADOWS*/

$boxShadow: #0e0e2c66 0px -1px 0px 0px inset;
