.icons{
    h1{
        font-weight: bold;
    }
    .social-icons {
        img {
            width: 75px;
            height: auto;
        }
    }

    .general-icons{
        img {
            width: 75px;
            height: auto;
        }
    }
}