@use '../base.scss' as b;
/* CARD STYLING */

.top-cards-background {
  background: linear-gradient(rgb(255, 255, 255) 22%, rgb(215, 202, 236) 100%);
  padding: 48px 0px;
  display: flex;
  position: relative;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  z-index: 1;

  .top-cards-container {
    display: flex;
    flex-direction: row;

    .card-element {
      background: rgb(231, 227, 235);
      border-radius: 24px;
      color: rgb(40, 13, 95);
      overflow: hidden;
      position: relative;
      margin-right: 16px;
      margin-bottom: 0px;
      height: fit-content;
      padding: 1px 1px 4px;
      box-sizing: border-box;

      .inner-box {
        width: 100%;
        height: 100%;
        overflow: inherit;
        background: rgb(255, 255, 255);
        border-radius: 24px;

        .card-body {
          padding: 24px;

          .symbol-container {
            color: rgb(40, 13, 95);
            position: absolute;
            top: 24px;
            right: 24px;
          }

          .card-text {
            min-width: 232px;
            width: fit-content;
            min-height: 168px;
            margin-top: 64px;
            display: flex;
            flex-direction: column;
            -webkit-box-pack: end;
            justify-content: flex-end;

            & h2:first-of-type {
              font-weight: 600;
              line-height: 1.1;
              font-size: 40px;
            }

            & h2:last-of-type {
              color: rgb(118, 69, 217);
              margin-bottom: 24px;
              font-weight: 600;
              line-height: 1.1;
              font-size: 40px;
            }

            .card-footer {
              color: rgb(122, 110, 170);
              font-weight: 400;
              line-height: 1.5;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

.bottom-cards-section-background {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  -webkit-box-align: center;
  z-index: 1;
  background: linear-gradient(rgb(111, 182, 241) 0%, rgb(234, 242, 246) 100%);
  padding: 48px 0px;

  .bottom-cards-container {
    max-width: 600px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;

    .yellow-card {
      max-width: 100%;
      margin-right: 24px;
      margin-bottom: 0px;
      display: flex;
      flex: 1 1 0%;

      .yellow-card-outer {
        background: rgb(255, 178, 55);
        border-radius: 24px;
        color: rgb(40, 13, 95);
        overflow: hidden;
        position: relative;
        height: fit-content;
        padding: 1px 1px 4px;
        transform: rotate(-2.36deg);

        .yellow-card-inner {
          color: rgb(40, 13, 95);
          overflow: initial;
          background: linear-gradient(
            rgb(255, 178, 55) 0%,
            rgb(255, 205, 81) 51.17%,
            rgb(255, 231, 106) 100%
          );
          border-radius: 24px;

          .yellow-card-body {
            color: rgb(40, 13, 95);
            padding: 24px;
          }
        }
      }
    }

    .purple-card {
      max-width: 100%;
      display: flex;
      flex: 1 1 0%;

      .purple-card-outer {
        background: rgb(60, 23, 134);
        border-radius: 24px;
        color: rgb(40, 13, 95);
        overflow: hidden;
        position: relative;
        height: fit-content;
        padding: 1px 1px 4px;
        transform: rotate(1.43deg);

        .purple-card-inner {
          color: rgb(40, 13, 95);
          width: 100%;
          height: 100%;
          overflow: initial;
          background: linear-gradient(
            rgb(118, 69, 217) 0%,
            rgb(81, 33, 177) 100%
          );
          border-radius: 24px;

          .purple-card-body {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            color: white;
            padding: 24px;
          }
        }
      }
    }
  }
}

.default-card {
  background-color: rgb(255, 255, 255);
  border-radius: 32px;
  box-shadow: rgba(25, 19, 38, 0.1) 0px 2px 12px -8px,
    rgba(25, 19, 38, 0.05) 0px 1px 1px;
  color: rgb(69, 42, 122);
  overflow: hidden;
  position: relative;

  .card-body {
    padding: 24px;
  }

  .card-footer {
    padding: 24px;
    border-top: 1px solid rgb(233, 234, 235);
  }
}
