@use "../base.scss" as b;
@import "../components";

#CTA-trade_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: b.$fontFamily;
  width: 100%;
  height: 90vh;
  padding: 48px 0px;
  
  .trade-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    .trade-section-box {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      .trade-section-left {
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        h2 {
            font-size: b.$font-size-subheader;
            font-weight: b.$fontHeavyWeight;
            margin-bottom: b.remConverter(24px);
  
            span {
              font-size: b.$font-size-subheader;
              font-weight: b.$fontHeavyWeight;
              color: b.$secondary;
            }
          }
  
          p {
            margin-bottom: b.remConverter(24px);
            font-size: b.$font-size-copy;
            color: #7a6eaa;
            font-weight: bold;
            font-family: inherit;
          }
  
        .bottom-cta {
          button {
            @include button;
            padding-left: 24px;
            padding-right: 24px;

            &:hover {
              opacity: 0.65;
            }
          }

          a {
            color: b.$primary;
            text-decoration: none;
            font-weight: 900;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      
      .trade-section-right {
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        flex: 1 1 0;

        .animation-box {
          display: flex;
          flex: 1 1 0%;
          padding-bottom: 70px;
          position: relative;

          .floatEl {
            width: 100%;
            @include floatting;
            position: absolute;

            &:nth-child(1) {
              animation-duration: 2.9s;
            }

            &:nth-child(2) {
              animation-duration: 2.1s;
            }

            &:nth-child(3) {
              animation-duration: 2.5s;
            }
          }
        }
      }
    }
  }
}
