@use 'fonts' as k;
@use 'colors' as c;
@use 'functions' as f;
/*
la mixin colorDiv gestisce le dimensioni 
dei div in cui andrò a porre le info sui colori principali ()
 per far si che il codice non venga ripetuto 
*/
@mixin colorDiv($color) {
    height: f.remConverter(40px);
    width: f.remConverter(40px);
    border: k.$divBorder;
    border-radius: 15%;
    background-color: $color;
}


/*
La mixin per button da lo stile di base ai button, il cui extend verrà sovrascritto per quelli che vediamo a destra
*/
@mixin button {
    align-items: center; // alla scritta piazzandola al centro
    border: 0px; // di base non c'è bordo, verrà aggiunto 
    border-radius: f.remConverter(16px); // resta così per tutti, verrà visualizzato diversamente nella navbar per via dell'altezza del div padre
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset; // leggero box-shadow a sud dell'asse y
    cursor: pointer; // simula il link
    display: inline-flex; // serve per gestire l'allineamento con le arrowsvg
    font-family: inherit; //ereditano kanit
    font-size: f.remConverter(16px);
    font-weight: k.$fontHeavyWeight;
    justify-content: center; //portano al centro il testo rispetto all'asse x
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s; // con i valori impostati in precedenza ne gestiamo l'effetto di transizione di
    height: f.remConverter(48px);
    padding: 0px f.remConverter(24px);
    background-color: c.$buttonBlue;
    color: white;
    margin-right: f.remConverter(8px);
}








.button {
    -moz-box-align: center;
    -webkit-box-align: center;
    align-items: center;
    border: 0px none;
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: Kanit, sans-serif;
    font-size: 16px;
    font-weight: 600;
    -moz-box-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: currentcolor none 0px;
    height: 48px;
    padding: 0px 24px;
    background-color: rgb(31, 199, 212);
    color: white;
    margin-right: 8px;
}

.transparent-button {
    -moz-box-align: center;
    -webkit-box-align: center;
    align-items: center;
    border: 2px solid rgb(31, 199, 212);
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: Kanit, sans-serif;
    font-size: 16px;
    font-weight: 600;
    -moz-box-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: currentcolor none 0px;
    height: 32px;
    padding: 0px 16px;
    background-color: rgba(31, 200, 212, 0);
    color: rgba(31, 200, 212);
}

.input-field {
    background-color: rgb(238, 234, 244);
    border-radius: 16px;
    box-shadow: rgba(74, 74, 104, 0.1) 0px 2px 2px -1px inset;
    color: rgb(40, 13, 95);
    display: block;
    font-size: 16px;
    height: 40px;
    max-width: 150px;
    outline: currentcolor none 0px;
    padding: 0px 16px;
    width: 100%;
    border: 1px solid rgb(215, 202, 236);
    font-family: Kanit, sans-serif;
}
.input-field:focus {
    box-shadow: rgb(118, 69, 217) 0px 0px 0px 1px, rgba(118, 69, 217, 0.6) 0px 0px 0px 4px;
}

.dropdown-menu {
    max-width: 150px;
    height: 40px;
    display: flex;
    -moz-box-align: center;
    -webkit-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 16px;
    box-shadow: rgba(74, 74, 104, 0.1) 0px 2px 2px -1px inset;
    border: 1px solid rgb(215, 202, 236);
    border-radius: 16px;
    background: rgb(238, 234, 244) none repeat scroll 0% 0%;
    transition: border-radius 0.15s ease 0s;
}

.dropdown-text {
    color: rgb(40, 13, 95);
    font-weight: 400;
    font-family: Kanit, sans-serif;
    line-height: 1.5;
    font-size: 16px;
}