@use '../../base.scss' as b;
@import '../../components/toggle_LD_mode.scss';
@import '../../components/toggle_switch.scss'; 
@import '../../components.scss';


* {
    font-family: b.$fontFamily;
}

nav {
    width: 100vw;
    font-weight: 400;
    padding: 3px;
    position: relative;
    z-index: auto;
    padding-left: b.remConverter(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: b.remConverter(48px);
    background-color: b.$light_background;

    overflow: hidden;

    .leftContainer {
        display: flex;

        div {
            width: 100%;
            padding: b.remConverter(10px);
            border-radius: b.remConverter(15px);

            .grey-hover:hover {
                background-color: b.$light_tertiary;
                transition: 120ms;
            }
        }

        .pancakeLogo {
            display: flex;
            list-style-type: none;
            align-items: center;
            margin-top: b.remConverter(5px);
        }
    }

    ul {

        display: flex;
        justify-content: space-between;
        list-style-type: none;
        position: relative;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        color: b.$secondary;
        font-size: b.remConverter(16px);
        font-weight: 400;
        padding-left: b.remConverter(16px);
        padding-right: b.remConverter(16px);

        height: b.remConverter(48px);

        li {

            a {
                text-shadow: b.$secondary, b.remConverter(0.5px);
                text-decoration: none;
                margin: b.remConverter(10px);
                color: b.$secondary;
            }
        }
    }

    .rightContainer {
        display: flex;
        justify-content: space-between;

        //     .netButton {

        //         fill: red;
        //         transition-property: fill;
        //         transition-duration: 2s;

        //         .logoNet:hover {
        //             fill: #EFF4F5;
        //         }
        //     }
        // 
    }

    div {
        font-family: b.$fontFamily;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: b.remConverter(5px);
        cursor: pointer;

        .currentValue {
            color: b.$secondary;
            font-weight: 500;
        }
    }

    button {
        @include button;
        box-shadow: b.$light_text;
        height: b.remConverter(32px);
        padding-left: b.remConverter(16px);
        padding-right: b.remConverter(16px);
        color: white;
    }


}

footer {
    width: 100vw;
    background-color: b.$dark_card;
    display: flex;
    flex-flow: column;
    padding: b.remConverter(25px);


    .services {
        display: flex;
        justify-content: space-between;
        padding: b.remConverter(30px);




        ul {
            li:first-child {
                color: b.$dark_secondary;
                font-weight: 600;
            }

            .gold {
                a {
                    color: b.$binance;
                }
            }

            li {
                list-style-type: none;
                margin: b.remConverter(3px);

                a {

                    text-decoration: none;
                    color: b.$light_background;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .partnerSvgIcons {
        padding-left: 33px;
        display: flex;
        align-items: flex-start;

        div {
            width: 30px;
        }
    }
}